@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --preto: #04151fff;
    --cinza: #183a37ff;
    --amarelo: #efd6acff;
    --laranja: #c44900ff;
    --laranja2:rgb(179, 67, 2)f;
    --fonte-primaria: "Protest Guerrilla", sans-serif;
    --fonte-secundaria: "Roboto Slab", serif;
}

body{
    background-color: var(--amarelo);
    font-family: var(--fonte-secundaria);
    color: var(--preto);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h1{
    font-family: var(--fonte-primaria);
    color: var(--laranja);
    font-size: 9em;
}
h3{
    color: var(--cinza);
    font-family: var(--fonte-primaria);
    font-size: 6em;
}
.mensagem{
    font-size: 3em;
    color: var(--preto);
    margin-top: 50px;
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 20px;
}
.box{
    border: 20px inset var(--amarelo);
    display: inline-block;
    font-size: 2em;
    padding: 30px;
    margin: 10px;
}